# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Engine/.vs/Engine/v14/.suo
Engine/Engine.VC.db
Engine/bin/Debug/Engine.ilk
Engine/bin/Debug/Engine.pdb
Engine/bin/Debug/Intermediate/Engine.log
Engine/bin/Debug/Intermediate/Engine.tlog/CL.command.1.tlog
Engine/bin/Debug/Intermediate/Engine.tlog/CL.read.1.tlog
Engine/bin/Debug/Intermediate/Engine.tlog/CL.write.1.tlog
Engine/bin/Debug/Intermediate/Engine.tlog/Engine.lastbuildstate
Engine/bin/Debug/Intermediate/Engine.tlog/link.command.1.tlog
Engine/bin/Debug/Intermediate/Engine.tlog/link.read.1.tlog
Engine/bin/Debug/Intermediate/Engine.tlog/link.write.1.tlog
Engine/bin/Debug/Intermediate/vc140.idb
Engine/bin/Debug/Intermediate/vc140.pdb
Engine/x64/Debug/Engine.log
Engine/x64/Debug/Engine.tlog/CL.command.1.tlog
Engine/x64/Debug/Engine.tlog/CL.read.1.tlog
Engine/x64/Debug/Engine.tlog/CL.write.1.tlog
Engine/x64/Debug/Engine.tlog/Engine.lastbuildstate
Engine/x64/Debug/Engine.tlog/unsuccessfulbuild
Engine/x64/Debug/vc140.idb
Engine/x64/Debug/vc140.pdb
